body {
    box-sizing: border-box;
}

.main-title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-style: italic;
}

.main-content {
    display: flex;
    border: 2px solid black;
}

.article-content, main-nav {
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;
}

.article-content {
    flex-direction: column;
    align-items: center;
}

.article-title {
    font-size: 1.7rem;
    font-style: italic;
}

.article-text {
    padding: 10px;
}

.article-image {
    width: 100%;
}

.row .quarter {
    flex-basis: 25%;
}

.third-quarter {
    display: flex;
    width: 75%;

}

.nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    font-family: Futura;
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
}

.item-1 {
    background-color: deepskyblue;
}

.item-2 {
    background-color: palegreen;
}

.item-3 {
    background-color: antiquewhite;
}

.item-4 {
    background-color: aquamarine;
}

.item-5 {
    background-color: plum;
}

.nav-items {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 30px;
}

.nav-items a {
    font-size: 2.2rem;
    color: grey;
    text-decoration: none;
}

.nav-items a:hover {
    text-decoration: underline;
}